/*FOR RED AND YELLOW NOTICE*/
.notice_container{
  background: white;
  width: 48vw;
  /*height: 33.6vw;*/
  height: 460px;
  /*width: 47vw;*/
  /*min-width: 600px;*/
  /*transition: width 200ms ease-in;*/
  border-radius: 5px;
  /*margin: 2vw 1.25vw 0 1.5vw;*/
  margin-top: var(--dashboard-margin-top);
  margin-left: var(--dashboard-margin-left);
  margin-right: var(--dashboard-margin-right);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.container_labels-c{
  /*width: 70%;*/
  /*font-size: 1.46vw;*/
  font-size: 20px;
  font-weight: 700;
  /*padding: 0.73vw 0 1.09vw 0px;*/
  padding: 10px 0 15px 0;
  height: 30px;
}

.notice_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  /*width: 47vw;*/
  width: 100%;
  height: 40px;
  /*min-width: 460px;*/
}

.view_list_red{
  /*font-size: 1vw;*/
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.view_list_yellow{
  /*font-size: 1vw;*/
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.notice_table {
  border-collapse: collapse;
  width: 95%;
  /*min-width: 600px;*/
  /*transition: width 200ms ease-in;*/
  /*margin-left: 1.46vw;*/
  margin-bottom: 10px;
}
td {
  /*font-size: 1vw;*/
  font-size: 12px;
  text-align: left;
  /*padding: 0.35vw;*/
  padding: 5px;
  font-weight: 700;
  white-space: nowrap;
}
.td_notify{
  text-align: center;
}
tr:nth-child(even) {
  background-color: #F3F3F3;
}
tr:nth-child(odd) {
  background-color: #E2E1E5;
}
/* Will limit the displayed table rows to 5. Not srollable */
.redyellownotice_limiter tr:nth-child(n + 6) {
  display: none;
}

.red_notice_table{
  /*border-left: 0.36vw solid #F14668;*/
  border-left: 5px solid #F14668;
  /*margin-left: 1.46vw;*/
}
.yellow_notice_table{
  /*border-left: 0.36vw solid #FFD056;*/
  border-left: 5px solid #FFD056;
  /*margin-left: 1.46vw;*/
}

.notify_button{
  /*height: 1.50vw;
  width: 4.75vw;
  font-size: 0.73vw;*/
  height: 20px;
  width: 4.75vw;
  font-size: 10px;
  font-weight: 600;
  background: #F14668;
  color: white;
  white-space: nowrap;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
#notif_active{
  /*font-size: 0.9vw;*/
  font-size: 12px;
  color: white;
  opacity: 1;
  /*margin-right: 0.22vw;*/
}

@media only screen and (max-width: 1000px){
  .notice_container{
    height: 350px;
  }
  .container_labels-c{
    font-size: 17px;
    height: 25px;
  }
  td {
    font-size: 11px;
    padding: 4px;
  }
  .notify_button{
    height: 15px;
    font-size: 8px;
  }
  #notif_active{
    font-size: 10px;
  }
}

@media only screen and (max-width: 900px){
  /* Change td name */
  /* td:nth-child(2) {
    display: none;
  } */
  .notify_button{
    font-size: 0;
    justify-content: center;
  }
}

@media only screen and (max-width: 750px){
  .notice_container{
    width: 97%;
  }
  .notice_header{
    width: 100%;
  }
  .notice_table {
    width: 95%;
  }
  /* Change td name */
  /* td:nth-child(2) {
    display: block;
  } */
}

@media only screen and (max-width: 500px){
  .notice_container{
    min-width: 100px;
    /*width: var(--upcoming-width-b);*/
    width: 96%;
    /*height: 31vh;*/
    height: 350px;
  }
  .notice_table{
    min-width: 100px;
    /*width: calc(var(--upcoming-width-b) - 8vw);*/
    width: 90%;
    /*margin-left: 15px;*/
  }
  td{
    font-size: 11px;
    padding: 4px;
  }
  .notice_header{
    min-width: 200px;
    width: var(--upcoming-width-b);
  }
  .container_labels-c{
    width: 55%;
    font-size: 15px;
  }
  .view_list_red{
    font-size: 12px;
  }
  .view_list_yellow{
    font-size: 12px;
  }
  /* td:nth-child(2) {
    display: none;
  } */
  .notify_button{
    width: 40px;
    height: 15px;
    font-size: 8px;
  }
  #notif_active{
    font-size: 10px;
  }

  .notice_container{
    width: 96%;
  }
}