@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable');

*::before,
*::after{
    box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  background: #03256C;
  /* background: #E2E1E5; */
  font-family: 'Segoe UI Variable', 'Segoe UI';
  overflow: hidden;
  user-select: none;
}

:root{
  /* for main windows */
  /*--max-width: 77.5vw;
  --max-width-b: 77.5vw;*/

  /* FOR DASHBOARD */
  --windowDashboard-display: block;
  --windowDashboard-L1-display: block;
  --windowDashboard-L3-display: block;

  --dashboard-L1-window-width: 60%;
  --dashboard-L1-window-height: 70%;

  --max-width: 77.5vw;
  --max-width-b: 77.5vw;
  --max-height: 81.5vh;
  --max-height-b: 81.5vh;
  --border-radius: 7px;
  --border-radius-b: 7px 7px 0 0;
  --top: 15px;
  --left: 30px;
  --dashboard-margin-top: 1.8vw;
  --dashboard-margin-left: 1.46vw;
  --dashboard-margin-right: 1.46vw;
  --dashboard-bottom-container-width: 73.3vw;

  /* FOR ATTENDANCE MODULE */
  --windowAttendance-L1-display: block;
  --windowAttendance-L3-display: block;

  --windowAttendance-display: block;
  --windowAttendance-drag-display: block;
  /*--windowAttendance-width: 1060px;*/
  /*--windowAttendance-height: 565px;*/
  --windowAttendance-width: 77vw;
  --windowAttendance-height: 80vh;
  --windowAttendance-table-height: 45vh;
  --windowAttendance-top: 20px;
  --windowAttendance-left: 20px;
  --windowAttendance-border-radius: 7px;
  --windowAttendance-td-height: 3vh;
  --windowAttendance-buttons-width: 8vw;
  --windowAttendance-buttons-height: 3vw;
  --windowAttendance-buttons-font: 0.8vw;
  --windowAttendance-search-width: 30vw;

  /* screen 500px */
  --windowAttendance-500-button-width: 32vw;

  /* --winAtt-Default-Display: none; */
  --winAtt-Default-PointerEvents: all;
  --winAtt-Default-Opacity: 1;
  --winAtt-Default-Transform: 0;

  /* --winAtt-ViewStudent-Display: block; */
  --winAtt-ViewStudent-PointerEvents: none;
  --winAtt-ViewStudent-Opacity: 0;
  --winAtt-ViewStudent-Transform: 100%;


  --editAttendance-Modals-PointerEvents: none;
  --editAttendance-Modals-Opacity: 0;

  --editAttendanceInt-Modals-PointerEvents: none;
  --editAttendanceInt-Modals-Opacity: 0;

  --MultiEditAttendanceRes-Modals-PointerEvents: none;
  --MultiEditAttendanceRes-Modals-Opacity: 0;

  --ConfirmDelete-Modal-PointerEvents: none;
  --ConfirmDelete-Modal-Opacity: 0;

  --viewStudent_edit_multiRecord-pointer-events: none;
  --viewStudent_edit_multiRecord-opacity: 0.5;

  --viewStudent_multiEdit_warning-opacity: 1;

  /* FOR CALENDAR MODULE */
  --calendar-module-display: block;
  --calendarAddSchedule_modal-PointerEvents: none;
  --calendarAddSchedule_modal-Opacity: 0;

  /* FOR ABOUT */
  --aboutModule-L1-display: block;

  /* FOR ADMIN MODULE */
  --ConfirmLogout-Modal-Admin-PointerEvents: none;
  --ConfirmLogout-Modal-Admin-Opacity: 0;

  --adminModule_L1_display: block;
  --adminModule-L1-window-width: 70%;
  --adminModule-L1-window-height: 70%;
  --adminModule-display-b: none;
  --adminModule-top: 15px;
  --adminModule-left: 30px;
  --table-admin-height: 65%;
  --adminModule_create_modal-pointer-events: none;
  --adminModule_create_modal-opacity: 0;
  --adminModule_edit_modal-pointer-events: none;
  --adminModule_edit_modal-opacity: 0;
  --ConfirmDelete-Modal-Admin-PointerEvents: none;
  --ConfirmDelete-Modal-Admin-Opacity: 0;
  --adminModule_create_sched_modal-pointer-events:none;
  --adminModule_create_sched_modal-opacity: 0;
  --adminModule_edit_sched_modal-pointer-events: none;
  --adminModule_edit_sched_modal-opacity: 0;
  --ConfirmDelete-Sched-Modal-Admin-PointerEvents: none;
  --ConfirmDelete-Sched-Modal-Admin-Opacity: 0;
  --adminModule_create_announce_modal-pointer-events: none;
  --adminModule_create_announce_modal-opacity: 0;
  --adminModule_edit_announce_modal-pointer-events: none;
  --adminModule_edit_announce_modal-opacity: 0;
  --ConfirmDelete-Announce-Modal-Admin-PointerEvents: none;
  --ConfirmDelete-Announce-Modal-Admin-Opacity: 0;

  /* for upcoming */
  /*--upcoming-width: 25vw;*/
  --upcoming-width: 340px;
  --upcoming-width-1000: 250px;
  --upcoming-container-wrap-width: 100%;
  --upcoming-width-b: 75vw;

  /* for calendar */
  --calendar-display: none;
  --view-calendar-display: block;

  --calendar-opacity: 0;
  --calendar-pointer-events: none;

  /* for assessment and attendance wrappers */
  --wrappers-width: 68.3vw;

  /* for closing */
  --display: none;
  --display-b: none;

  --menu-height: 0;
  --menu-opacity: 0;

  --view-calendar-height: 0;
  --view-calendar-opacity: 0;

  /* screen 500px */
  --windowAttendance-500-button-width: 32vw;


  --windowAssessment-display: block;
  --windowAssessmentSection-display: none;
  --windowAssessment-drag-display: block;
  /*--windowAttendance-width: 1060px;*/
  /*--windowAttendance-height: 565px;*/
  --windowAssessment-width: 77vw;
  --windowAssessment-height: 80vh;
  --windowAssessment-table-height: 45vh;
  --windowAssessment-top: 20px;
  --windowAssessment-left: 20px;
  --windowAssessment-border-radius: 7px;
  --windowAssessment-td-height: 3vh;
  --windowAssessment-buttons-width: 8vw;
  --windowAssessment-buttons-height: 3vw;
  --windowAssessment-buttons-font: 0.8vw;
  --windowAssessment-search-width: 30vw;


  --notification_preview-display: block;

  --windowAnalyticsSection-display: none;
  --windowAnalytics-display: block;

}