/* FOR ATTENDANCE WINDOW */
.windowAssessment_main_wrap{
    width: 85%;
    display: var(--windowAssessment-display);
}

.windowAssessmentSection_main_wrap{
    width: 85%;
    display: var(--windowAssessmentSection-display);
}

.windowAnalytics_main_wrap{
    width: 85%;
    display: var(--windowAnalytics-display);
}

.windowAnalyticsSection_main_wrap{
    width: 85%;
    display: var(--windowAnalyticsSection-display);
}

.assessment_window{
    margin: 0;
    padding: 0;
    width: var(--windowAttendance-width);
    height: var(--windowAttendance-height);
    border: 2px solid black;
    border-radius: var(--windowAttendance-border-radius);
    box-shadow: 5px 5px 10px rgba(0 , 0, 0, 0.25);
    background: white;
    overflow: hidden;
    position: absolute;
    top: var(--windowAttendance-top);
    left: var(--windowAttendance-left);
    touch-action: none;
    transition: width 200ms ease-in-out, height 200ms ease-in-out, top 200ms ease-in-out, left 200ms ease-in-out;
}
  
.windowAssessment_draggable_area{
    background: none;
    /*opacity: 0.5;*/
    height: 25px;
    width: calc(var(--windowAttendance-width) - 80px);
    touch-action: none;
    position: absolute;
    /*top: var(--top);
    left: var(--left);*/
    top: var(--windowAttendance-top);
    left: var(--windowAttendance-left);
    /*display: var(--display-b);*/
    display: var(--windowAttendance-drag-display);
    cursor: move;
    z-index: 100;
}

.windowAssessment_topbar{
    margin: 0;
    background:#FFD056;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    padding: 3px 0 2px 20px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.assessment_module_main_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.assessment_module_main_wrap_c{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    background: white;
}
.assessment_module_topwrap{
    width: 100%;
    height: 10%;
    padding: 0 2%;
    /* background: #03256C; */
    /* background: #FFD056; */
    background: #E2E1E5;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.assessment_module_topwrap_text{
    font-size: 25px;
    font-weight: 600;
}
.assessment_module_search_wrap{
    width: 35%;
    height: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px solid #B3B3B3;
    border-radius: 100px;
    background: white;
    margin-left: 1.5%;
}
.assessment_module_search_input{
    width: calc(100% - 30px);
    height: 95%;
    border: none;
    border-radius: 0 100px 100px 0;
}
.assessment_module_search_input:focus{
    outline: none;
}
.assessment_module_search_icon{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    filter: invert(69%) sepia(0%) saturate(0%) hue-rotate(155deg) brightness(102%) contrast(98%);
}

.assessment_module_subjcards_wrap{
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
    /* background: #FFD056; */
}
.assessment_module_subjcards{
    margin: 1.5%;
    width: 30%;
    height: 70%;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    border-radius: 10px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.assessment_module_subjcards_cover{
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.25;
    border-radius: 10px;
    visibility: hidden;
}
.assessment_module_subjcards:hover .assessment_module_subjcards_cover{
    visibility: visible;
}
.assessment_module_subjcards_img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-bottom: 3px solid #FFD056;
    border-radius: 10px 10px 0 0;
}
.assessment_module_subjcards_text_wrap{
    width: 92%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
}
.assessment_module_subjcards_text_a{
    width: 100%;
    font-size: 25px;
    font-weight: 600;
}
.assessment_module_subjcards_text_b{
    width: 100%;
    font-size: 16px;
}
.assessment_module_section_text{
    font-size: 25px;
    font-weight: 600;
}

.assessment_module_back_wrap{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.assessment_module_back_icon{
    width: 25px;
    height: 25px;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
}
.assessment_module_searchDLUP_wrap{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.assessment_module_search_wrap-b{
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px solid #B3B3B3;
    border-radius: 100px;
    background: white;
    margin-left: 1.5%;
}
.assessment_module_search_wrap-c{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px solid #B3B3B3;
    border-radius: 100px;
    background: white;
    margin-left: 1.5%;
}
.upload_assessment{
    width: 20%;
    height: 50%;
    font-size: 12px;
    color: white;
    background: #F14668;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.download_assessment{
    width: 20%;
    height: 50%;
    font-size: 12px;
    color: white;
    background: #3DB5F9;
    border: none;
    border-radius: 3px;
    margin-right: 2%;
    cursor: pointer;
}

.upload_assessment_modal{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    pointer-events: var(--Upload-Assess-Modal-Admin-PointerEvents);
    opacity: var(--Upload-Assess-Modal-Admin-Opacity);
    transition: all 200ms ease-in-out;
    z-index: 2;
}

.assessment_module_students_table_wrap{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    background: white;
}
.assessment_module_students_table{
    margin-top: 2%;
    width: 98%;
    border-collapse: collapse;
}
.assessment_module_students_table thead{
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
    z-index: 1;
}
.assessment_module_students_header td{
    background: #03256C;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.assessment_module_students_body td{
    height: 20px;
    font-size: 12px;
}

.assessment_module_bottomwrap{
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    z-index: 1;
}
.analytics_module_overall_container{
    margin: 1% 0;
    width: 94%;
    padding: 1%;
    height: 80%;
    background: white;
    border-radius: 10px;
}
.analytics_module_overall_text_wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.analytics_module_overall_text{
    font-size: 20px;
    font-weight: 600;
}
.analytics_module_overall_text-b{
    font-size: 15px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}
.analytics_module_record_container{
    width: 30%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.25);
    background: white;
}
.analytics_module_record_title_wrap{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.analytics_module_record_title{
    width: 100%;
    height: 15%;
    margin: 0 5%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
.analytics_module_record_title-b{
    width: 100%;
    margin: 5% 2% 0 2%;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.analytics_module_record_separator{
    width: 100%;
    height: 2px;
    background: #F14668;
}
.analytics_module_record_separator-b{
    width: 100%;
    height: 2px;
    background: #84DF3C;
}
.analytics_module_record_text{
    font-size: 14px;
    font-weight: 500;
    margin: 3%;
    display: flex;
    justify-content: space-between;
}
.analytics_module_record_wrap{
    margin-top: 2%;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
}
.assessment_module_studscores{
    width: 100%;
    height: 100%;
}