@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

.window_notes_main_wrap{
  display: var(--windowNotes-display);
}
* {
  box-sizing: border-box;
}

body,
.body{
  width: inherit;
  height: 90%;
 
}
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /*width: 92.3vw;*/
    /* max-width: var(--wrappers-width); */
    /*min-width: 915px;*/
    margin: 0;
    padding: 0;
    /*background: #FFF6BF;*/
    background: rgb(251, 243, 243);
    min-height: 85%;
    min-width: var(--max-width);
    max-width: var(--max-width);
    max-height: var(--max-height);
    border: 2px solid black;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 10px rgba(0 , 0, 0, 0.25);
    overflow-x: hidden;
    position: absolute;
    top: var(--top);
    left: var(--left);
    touch-action: none;
    transition: max-width 200ms ease-in-out, max-height 200ms ease-in-out, top 200ms ease-in-out, left 200ms ease-in-out;
    scroll-behavior: smooth;
    padding: 10px;;
    font-size: 16px;
    display: flex;
 
}
/*.notes_window_topbar{
  margin: 0;
  background:#FFD056;
  height: 20px;
  max-width: var(--max-width);
  font-size: 16px;
  font-weight: 700;
  padding: 3px 0 2px 20px;
  border-bottom: 2px solid black;
  border-radius: var(--border-radius-b);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}*/

button {
  background: none;
  border: 1px;
  margin: 0;
  padding: 10;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}
button:hover {
  color: #04c;
}

.App {
  display: flex;
}

/* SIDEBAR STYLES */

.app-sidebar {

  width: 30%;
  max-height: inherit;
  border-right: 1px solid #ddd;
  overflow-y: scroll;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.app-sidebar-header h1 {
  margin: 0;

}

.app-sidebar-notes {
  max-height: calc(100vh - 78px);
}
.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.app-sidebar-note button {
  color: crimson;
}
.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #ddd;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #08c;
  color: white;
  
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 70%;
  height: 90%;
}
.app-main-note-edit,
.app-main-note-preview {
  /*height: 50vh;*/
  min-height: 50%;
  max-height: 70%;
}

.no-active-note {
  width: 70%;
  max-height: inherit;

  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  background: #FFF6BF;
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
  overflow-y: scroll;

}

/* Preview */
.app-main-note-preview {
  border-top: 1px solid #ddd;
  height: 290px;
  max-height: 50%;
  background: #FFF6BF;
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
  background: #FFF6BF;
  max-width: 55vw;
  max-height: 250px;
  overflow-y: scroll;
}
