.adminModule_L1_main_wrap{
    width: 85%;
    position: relative;
    display: var(--adminModule_L1_display);
}

.adminModule_L1_window{
    margin: 0;
    padding: 0;
    /*width: 98.45vw;*/
    width: var(--adminModule-L1-window-width);
    height: var(--adminModule-L1-window-height);
    border: 2px solid black;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 10px rgba(0 , 0, 0, 0.25);
    background: #E2E1E5;
    overflow: hidden;
    position: absolute;
    top: var(--adminModule-top);
    left: var(--adminModule-left);
    touch-action: none;
    /*transform: translate3d(var(--left), var(--top), 0px);*/
    /*display: var(--display);*/
    transition: max-width 200ms ease-in-out, max-height 200ms ease-in-out, top 200ms ease-in-out, left 200ms ease-in-out;
}

.adminModule_L1_window_topbar{
    margin: 0;
    background:#FFD056;
    height: 20px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    padding: 3px 0 2px 20px;
    border-bottom: 2px solid black;
    border-radius: var(--border-radius-b);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.adminModule_L1_draggable_area{
    background: none;
    height: 25px;
    width: calc(var(--adminModule-L1-window-width) - 80px);
    touch-action: none;
    position: absolute;
    top: var(--top);
    left: var(--left);
    display: var(--adminModule-display-b);
    cursor: move;
    z-index: 2;
}
#adminModule_L1_minmax{
    font-size: 25px;
    color: black;
    padding-right: 20px;
    transform: translateY(7px);
    opacity: 1;
}
#adminModule_L1_close{
    font-size: 25px;
    color: black;
    padding-right: 30px;
    transform: translateY(7px);
    opacity: 1;
}
.adminModule_L1_Main_Container{
    width: 100%;
    /* height: calc(100% - 29px); */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* position: relative; */
    justify-content: space-between;
    /* justify-content: center; */
    overflow: auto;
}

.adminModule_Main_Container_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.adminModule_L1_Accounts{
    width: 96%;
    height: 90%;
    margin-top: 2%;
    overflow: hidden;
    background: white;
    border-radius: 10px;
}

.adminModule_L1_Accounts_top_wrap{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminModule_L1_Create_Search{
    width: 40%;
    height: 30px;
    margin-left: 2%;
    border: 2px solid #B3B3B3;
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.adminModule_create_search_icon{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    filter: invert(69%) sepia(0%) saturate(0%) hue-rotate(155deg) brightness(102%) contrast(98%);
}
.adminModule_create_search_input{
    width: calc(100% - 30px);
    height: 90%;
    border: none;
    background: transparent;
    outline: none;
}
.adminModule_button_wrap{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-right: 2%;
}
.adminModule_create_button{
    width: 120px;
    height: 35px;
    background: #84DF3C;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0 , 0, 0, 0.25);
    cursor: pointer;
}
.adminModule_table_main_wrap{
    width: 100%;
    height: var(--table-admin-height);
    display: flex;
    justify-content: center;
}
.table-admin-wrap{
    height: 100%;
    width: 96%;
    border-radius: 5px;
}
.table-admin{
    /* height: 100%; */
    width: 100%;
}

.adminModule_create_account_modal{
    width: 100%;
    height: 100%;
    background: rgba(0 , 0, 0, 0.25);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: var(--adminModule_create_modal-pointer-events);
    opacity: var(--adminModule_create_modal-opacity);
    transition: all 200ms ease-in-out;
    z-index: 2;
}
.adminModule_edit_account_modal{
    width: 100%;
    height: 100%;
    background: rgba(0 , 0, 0, 0.25);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: var(--adminModule_edit_modal-pointer-events);
    opacity: var(--adminModule_edit_modal-opacity);
    transition: all 200ms ease-in-out;
    z-index: 2;
}
.adminModule_create_account_con{
    width: 70%;
    height: 80%;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.adminModule_create_input_wrap{
    width: 96%;
    display: flex;
    justify-content: space-between;
}
.adminModule_create_input_inside{
    width: 32%;
    display: flex;
    flex-wrap: wrap;
}
.adminModule_create_input_inside-b{
    width: 96%;
    display: flex;
    flex-wrap: wrap;
}
.adminModule_create_input_inside-c{
    width: 49%;
    display: flex;
    flex-wrap: wrap;
}
.create_input{
    width: 100%;
    height: 30px;
    border: 2px solid #B3B3B3;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px;
}
.create_select{
    width: 100%;
    height: 44px;
    border: 2px solid #B3B3B3;
    border-radius: 10px;
    font-size: 14px;
}
.register_error_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}
.register_error{
    font-size: 16px;
    font-weight: 600;
    color: #F14668;
}

.editAtt_input-c{
    width: 94%;
    font-size: 14px;
    padding: 5px;
}
.adminModule_create_label{
    font-size: 14px;
    font-weight: 600;
}
.editAtt_Modal_label-b{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    width: 100%;
}

.confirmDelete_modal_wrap-admin{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    pointer-events: var(--ConfirmDelete-Modal-Admin-PointerEvents);
    opacity: var(--ConfirmDelete-Modal-Admin-Opacity);
    transition: all 200ms ease-in-out;
    z-index: 2;
}

.confirmDelete_sched_modal_wrap-admin{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    pointer-events: var(--ConfirmDelete-Sched-Modal-Admin-PointerEvents);
    opacity: var(--ConfirmDelete-Sched-Modal-Admin-Opacity);
    transition: all 200ms ease-in-out;
    z-index: 2;
}

.adminModule_L1_Schedule{
    width: 96%;
    height: 90%;
    margin-top: 2%;
    overflow: hidden;
    background: white;
    border-radius: 10px;
}
.schedule-tb-header td:nth-child(1){
    width: 15%;
}
.schedule-tb-header td:nth-child(2){
    width: 12%;
}
.schedule-tb-header td:nth-child(3){
    width: 20%;
}
.schedule-tb-header td:nth-child(4){
    width: 25%;
}
.schedule-tb-header td:nth-child(5){
    width: 15%;
}
.schedule-tb-header td:nth-child(6){
    width: 13%;
}
.adminModule_create_sched_modal{
    width: 100%;
    height: 100%;
    background: rgba(0 , 0, 0, 0.25);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: var(--adminModule_create_sched_modal-pointer-events);
    opacity: var(--adminModule_create_sched_modal-opacity);
    transition: all 200ms ease-in-out;
    z-index: 2;
}
.adminModule_edit_sched_modal{
    width: 100%;
    height: 100%;
    background: rgba(0 , 0, 0, 0.25);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: var(--adminModule_edit_sched_modal-pointer-events);
    opacity: var(--adminModule_edit_sched_modal-opacity);
    transition: all 200ms ease-in-out;
    z-index: 2;
}

.adminModule_L1_Announcements_wrap{
    width: 96%;
    height: 90%;
    margin-bottom: 2%;
}
.adminModule_L1_Announcements{
    width: 100%;
    height: 90%;
    margin-top: 2%;
    overflow: hidden;
    background: white;
    border-radius: 10px;
}
.adminModule_create_announce_modal{
    width: 100%;
    height: 100%;
    background: rgba(0 , 0, 0, 0.25);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: var(--adminModule_create_announce_modal-pointer-events);
    opacity: var(--adminModule_create_announce_modal-opacity);
    transition: all 200ms ease-in-out;
    z-index: 2;
}
.announce-input{
    width: 48%;
}
.adminModule_edit_announce_modal{
    width: 100%;
    height: 100%;
    background: rgba(0 , 0, 0, 0.25);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: var(--adminModule_edit_announce_modal-pointer-events);
    opacity: var(--adminModule_edit_announce_modal-opacity);
    transition: all 200ms ease-in-out;
    z-index: 2;
}
.confirmDelete_announce_modal_wrap-admin{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    pointer-events: var(--ConfirmDelete-Announce-Modal-Admin-PointerEvents);
    opacity: var(--ConfirmDelete-Announce-Modal-Admin-Opacity);
    transition: all 200ms ease-in-out;
    z-index: 2;
}

@media only screen and (max-width: 500px){
    .adminModule_L1_Accounts{
        height: 45%;
        margin-top: 2%;
        overflow: hidden;
    }
    .adminModule_L1_Schedule{
        height: 45%;
        overflow: hidden;
    }
    .adminModule_L1_Announcements_wrap{
        height: 50%;
        overflow: hidden;
    }

    .schedule-tb-header td:nth-child(1){
        width: 25%;
    }
    .schedule-tb-header td:nth-child(2){
        display: table-cell;
    }
    .schedule-tb-header td:nth-child(4){
        display: none;
    }
    .schedule-tb-header td:nth-child(5){
        display: none;
    }
    .schedule-tb-header td:nth-child(6){
        display: table-cell;
    }

    .schedule-tb-body td:nth-child(2){
        display: table-cell;
    }
    .schedule-tb-body td:nth-child(4){
        display: none;
    }
    .schedule-tb-body td:nth-child(5){
        display: none;
    }
    .schedule-tb-body td:nth-child(6){
        display: table-cell;
    }

    .announce-tb-header td:nth-child(1){
        display: table-cell;
    }
    .announce-tb-header td:nth-child(4){
        display: none;
    }
    .announce-tb-header td:nth-child(5){
        display: none;
    }
    .announce-tb-header td:nth-child(6){
        display: table-cell;
    }

    .announce-tb-body td:nth-child(1){
        display: table-cell;
    }
    .announce-tb-body td:nth-child(4){
        display: none;
    }
    .announce-tb-body td:nth-child(5){
        display: none;
    }
    .announce-tb-body td:nth-child(6){
        display: table-cell;
    }

    .adminModule_create_account_con{
        width: 90%;
        height: 50%;
        /* gap: 2%; */
    }
}