.calendarModule_L1_main_wrap{
    width: 85%;
    display: var(--calendar-module-display);
}

.calendar_module_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calendar_module_topbar_wrap{
    width: 94%;
    height: 10%;
    padding: 0 2%;
    background: white;
    border-radius: 5px;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}
.calendar_module_monthyear{
    font-size: 30px;
    font-weight: 600;
}
.calendar_module_prevnext_btn_wrap{
    width: 5%;
    display: flex;
    justify-content: space-between;
}
.calendar_module_prevnext_btn{
    font-size: 25px;
    cursor: pointer;
}

.calendar_module_body_wrap{
    width: 98%;
    height: 80%;
    /* border: 2px solid grey; */
    border-radius: 5px;
    background: white;
}
.calendar_module_weekdays_wrap{
    width: 100%;
    height: 7%;
    border-radius: 5px 5px 0 0;
    background: #03256C;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
}
.calendar_module_weekdays{
    width: calc(100% / 7);
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-right: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar_module_weekdays:nth-child(7){
    border: none;
}

.calendar_module_days_wrap{
    width: 100%;
    height: 100%;
}
.calendar_module_days_container{
    display: flex;
    height: calc(93% / 6);
}
#calendar_module_days{
    width: calc(100% / 7);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.calendar_module_days_today{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #FFD056;
    z-index: 1;
}
/* #calendar_module_days:hover{
    background: #F3F3F3;
    outline: 2px solid #3DB5F9;
    border-radius: 5px;
} */
.calendar_module_days_box{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid #E2E1E5;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}
.calendar_module_days_box:hover{
    background: #F3F3F3;
    border: 1px solid #3DB5F9;
    border-radius: 5px;
    z-index: 3;
}
.calendar_module_days_topwrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.calendar_module_add_btn{
    width: 20px;
    height: 20px;
    opacity: 0.5;
    visibility: hidden;
}
.calendar_module_days_box:hover .calendar_module_add_btn{
    visibility: visible;
}

.calendar_module_days_eventswrap{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}
.calendar_module_events{
    width: 94%;
    height: 30%;
    font-size: 12px;
    padding: 2px;
    color: white;
    background:#3DB5F9;
    border-radius: 3px;
}

.addEvent_input_container{
    width: 94%;
    display: flex;
    justify-content: space-between;
}
.addEvent_input_wrap{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}
.addEvent_input{
    width: 100%;
    height: 30px;
    border: 2px solid #B3B3B3;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px;
}
.addEvent_span{
    font-size: 14px;
    font-weight: 600;
}
.addEvent_select{
    width: 100%;
    height: 44px;
    border: 2px solid #B3B3B3;
    border-radius: 10px;
    font-size: 14px;
}