/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* FOR MAIN WINDOW */

.logo_wrap{
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 100px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -3;
}
.jilcf_logo{
  width: 25.5vw;
  height: 25.5vw;
  min-width: 250px;
  min-height: 250px;
  position: relative;
}
.jilcf_logo img{
  width: 100%;
  height: auto;
}

.main_Navbar{
  margin: 0;
  width: 100%;
  height: 45px;
  background: white;
  border-top: 3px solid #02153d;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 9;
}

.main_window_wrap{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #E2E1E5;
  position: absolute;
  display: flex;
}
.l1_background{
  /* box-shadow: inset 10px 10px 100px 100px #021a4b; */
  background: #E2E1E5;
  z-index: -1;
}
.l3_background{
  width: 100%;
  height: 100%;
  /* background: #FFD056; */
  /* background: #E3B04B; */
  background: #E2E1E5;
  z-index: -1;
}

.menu_btn{
  width: 80px;
  height: 45px;
  background: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-right: 1px solid black;
  cursor: pointer;
  z-index: 10;
}
.menu_btn:hover{
  background: #F3F3F3;
}

.menulist{
  width: 250px;
  /*height: var(--menu-height);*/
  background: white;
  border: 2px solid black;
  border-left: none;
  /*opacity: var(--menu-opacity);*/
  position: absolute;
  bottom: 0;
  margin-bottom: 45px;
  transition: height 300ms ease-in-out, opacity 200ms ease-in-out;
  z-index: 8;
}
.openMenuList{
  height: 400px;
  opacity: 1;
}
.closeMenuList{
  height: 0;
  opacity: 0;
}

.menulist_item_wrap{
  margin: 10px 0 10px 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menulist_item_wrap:hover{
  background: #E2E1E5;
}
.menulist_item{
  margin-left: 15px;
  width: 40px;
  height: 40px;
  background: #bababd;
  border: none;
}
.menulist_item_label{
  margin-left: 15px;
  font-size: 14px;
}
.menulist_navbar{
  margin: 0 0 47px 0;
  width: 250px;
  height: 40px;
  border-top: 1px solid black;
  background: #E2E1E5;
  position: fixed;
  bottom: 0;
}
.menulist_navbar_items_wrap{
  margin: 0;
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
}
.teacher_name{
  width: 55%;
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
}
.menulist_navbar_icons_wrap{
  width: 45%;
  margin: 5px 0 0 0;
}
.menulist_navbar_icons{
  width: 20px;
  height: 20px;
  margin: 0 15px 0 0;
  cursor: pointer;
}

.navbar_DateTime{
  width: 165px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  right: 0;
  cursor: pointer;
  z-index: 10;
}
.navbar_DateTime:hover{
  background: #E2E1E5;
}
.navbar_datetime_text{
  margin: 0 20px 0 0;
  font-size: 14px;
  font-weight: 600;
}
.navbar_datetime_icon{
  display: none;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.navbar_view_Calendar{
  width: 340px;
  background: white;
  border: 2px solid black;
  border-right: none;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 45px;
  transition: height 300ms ease-in-out, opacity 200ms ease-in-out;
  z-index: 8;
}
.openNavCalendar{
  height: 470px;
  opacity: 1;
}
.closeNavCalendar{
  height: 0;
  opacity: 0;
}
.calendar_datetime_wrap{
  width: 340px;
  height: 70px;
  background: white;
}
.calendar_time{
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 20px;
}
.calendar_date{
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
}
.navbar_calendar{
  width: 300px;
}
.navbar_calendar_wrap{
  width: 340px;
  background: white;
  display: flex;
  justify-content: center;
}
.navbar_datetime_separator{
  width: 340px;
  height: 2px;
  background: black;
}

.navbar_notification{
  /*width: calc(100% - 245px);*/
  width: 200px;
  height: 45px;
  margin-right: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
}
.notif_wrap{
  width: 100%;
  display: flex;
}
.navbar_notification_text{
  font-size: 14px;
  font-weight: 700;
  display: flex;
  animation: notification_carousel 10s linear infinite -10s;
}
.navbar_notification_text_2{
  font-size: 14px;
  font-weight: 700;
  display: flex;
  animation: notification_carousel_2 10s linear infinite -5s;
}

.main_window_button_wrap{
  width: 15%;
  height: 100%;
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  background: #03256C;
}

.main_window_button_wrap_in{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background: grey;
  /* flex-direction: column;
  flex-wrap: nowrap; */
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
  /* align-items: center; */
}
.main_window_button{
  /*width: 3.2vw;
  height: 3.2vw;*/
  width: 40px;
  height: 40px;
  /* margin-top: 40px; */
  margin-left: 10%;
  background: white;
  /* display: inline-block; */
  border: none;
  cursor: pointer;
}
.button_label{
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  text-shadow: 2px 2px 5px black;
  /* margin-top: 10px; */
  margin-left: 10%;
  white-space: nowrap;
}

.main_window_L1_sidebar{
  margin: 0;
  padding: 0;
  width: 15%;
  min-width: 160px;
  height: 100%;
  background: #03256C;
  border-right: 3px solid #02153d;
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
}
.main_window_L1_sidebar_inside_wrap{
  width: 100%;
  height: 80%;
}
.main_window_L1_sidebar_module_wrap{
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  border-radius: 5px 0 0 5px;
  margin-bottom: 3%;
  opacity: 0.5;
  cursor: pointer;
}
.main_window_L1_sidebar_module_wrap:hover{
  background: rgba(255,255,255, 0.5);
}
.main_window_L1_sidebar_module_icon{
  width: 30px;
  height: 30px;
  /* background: white; */
  margin-left: 10%;
}
.adminIcon{
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(283deg) brightness(113%) contrast(106%);
}
.main_window_L1_sidebar_module_label{
  font-size: 14px;
  color: white;
  margin-left: 10%;
}
.sidebar_wrap_active{
  border-right: 3px solid #FFD056;
  box-shadow: 5px 5px 10px 5px rgba(0 , 0, 0, 0.25);
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.sidebar_wrap_active:hover{
  background: none;
}

.sidebar_sub_wrap_active{
  width: 90%;
  height: 20%;
  margin-left: 10%;
  /* background: #021a4b; */
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  pointer-events: all;
  opacity: 1;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.sidebar_sub_wrap_active_L3{
  width: 90%;
  height: 30%;
  margin-left: 10%;
  /* background: #021a4b; */
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  pointer-events: all;
  opacity: 1;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.sidebar_sub_wrap_inactive{
  /* display: none; */
  pointer-events: none;
  opacity: 0;
  height: 0%;
  margin-left: 0%;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.sidebar_sub_item{
  width: 100%;
  padding-left: 10%;
  height: 30%;
  border-radius: 5px 0 0 5px;
  background: #031a4d;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
}
.sidebar_sub_item_L3{
  height: 20%;
}
.sidebar_sub_item:hover{
  background: rgba(255,255,255, 0.5);
}
.sidebar_sub_item_active{
  opacity: 1;
  /* border-right: 3px solid #FFD056; */
  transition: all 100ms ease-in-out;
}
.sidebar_sub_item_active:hover{
  background: #031a4d;
}

.main_window_L1_sidebar_LOGO_wrap{
  width: 100%;
  height: 15%;
  margin-bottom: 5%;
  background: #021a4b;
}
.main_window_L1_sidebar_LOGO{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.main_window_L1_sidebar_LOGO_img{
  width: 25%;
  height: auto;
  margin-left: 10%;
}
.main_window_L1_sidebar_LOGO_label{
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-left: 5%;
}
.sidebar_separator{
  width: 100%;
  height: 4px;
  margin-bottom: 3%;
  background: #02153d;
}

.sidebar_Navbar{
  width: 15%;
  height: 50px;
  position: fixed;
  border-top: 3px solid #02153d;
  bottom: 0;
  background: #FFD056;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar_Navbar_sub_wrap{
  width: 94%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sidebar_Navbar_profile{
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
}
.sidebar_Navbar_name_wrap{
  width: 80%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.sidebar_Navbar_name_wrap_2{
  width: 20%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sidebar_Navbar_username{
  width: 100%;
  height: 30%;
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.sidebar_Navbar_userPosition{
  width: 100%;
  font-size: 14px;
  color: black;
  opacity: 0.5;
}
.sidebar_Navbar_icons{
  width: 20px;
  height: auto;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(14deg) brightness(96%) contrast(102%);
  cursor: pointer;
}
.sidebar_Navbar_icons:hover{
  width: 22px;
}

.confirmLogout_modal_wrap{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  pointer-events: var(--ConfirmLogout-Modal-Admin-PointerEvents);
  opacity: var(--ConfirmLogout-Modal-Admin-Opacity);
  transition: all 200ms ease-in-out;
  z-index: 12;
}
.calendarAddSchedule_modal_wrap{
  width: 85%;
  height: 100%;
  margin-left: 15%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  pointer-events: var(--calendarAddSchedule_modal-PointerEvents);
  opacity: var(--calendarAddSchedule_modal-Opacity);
  transition: all 200ms ease-in-out;
  z-index: 2;
}

@keyframes notification_carousel{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes notification_carousel_2{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-200%);
  }
}


@media only screen and (max-width: 700px){

  .main_window_button{
    width: 30px;
    height: 30px;
    margin-top: 30px;
  }
  .button_label{
    font-size: 0.8rem;
  }
  .main_window_button_wrap_in{
    width: 70px;
    height: 90px;
  }
}

@media only screen and (max-height: 500px){
  .main_window_button_wrap{
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media only screen and (max-height: 380px){
  .main_window_button_wrap{
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px){
  .jilcf_logo{
    width: 55vw;
    height: 55vw;
    min-width: 200px;
    min-height: 200px;
    opacity: 0.7;
  }
  .main_window_button{
    width: 30px;
    height: 30px;
  }
  .main_window_button_wrap_in{
    width: 100px;
    height: 100px;
  }
  .button-label{
    margin-top: 5px;
  }
  .navbar_notification{
    width: calc(100% - 130px);
    margin-right: 50px;
  }
  .menulist{
    width: 200px;
  }
  .openMenuList{
    height: 300px;
  }
  .menulist_item_wrap{
    margin: 10px 0 10px 0;
    height: 40px;
  }
  .menulist_item_wrap:hover{
    background: #E2E1E5;
  }
  .menulist_item{
    width: 30px;
    height: 30px;
  }
  .menulist_item_label{
    margin-left: 15px;
    font-size: 12px;
  }
  .menulist_navbar{
    width: 200px;
    height: 30px;
  }
  .menulist_navbar_items_wrap{
    width: 200px;
    height: 30px;
  }
  .teacher_name{
    font-size: 12px;
  }
  .menulist_navbar_icons{
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
  }
  .navbar_view_Calendar{
    width: 250px;
  }
  .openNavCalendar{
    height: 350px;
  }
  .calendar_datetime_wrap{
    width: 250px;
    height: 50px;
    background: white;
  }
  .calendar_time{
    font-size: 25px;
  }
  .calendar_date{
    font-size: 15px;
  }
  .navbar_calendar{
    width: 250px;
  }
  .navbar_calendar_wrap{
    width: 250px;
  }
  .navbar_datetime_separator{
    width: 250px;
    height: 2px;
    background: black;
  }
  .navbar_DateTime{
    width: 50px;
  }
  .navbar_datetime_text{
    display: none;
  }
  .navbar_datetime_icon{
    display: block;
  }


  .main_window_L1_sidebar_LOGO_wrap{
    height: 12%;
  }
  .main_window_L1_sidebar_LOGO_img{
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .main_window_L1_sidebar_LOGO_label{
    display: none;
  }
  .main_window_L1_sidebar{
    width: 15%;
    min-width: 10px;
    /* position: absolute; */
  }
  .main_window_L1_sidebar_module_wrap{
    height: 10%;
    justify-content: center;
  }
  .main_window_L1_sidebar_module_label{
    display: none;
  }
  .sidebar_sub_wrap_active{
    display:none;
  }

  .sidebar_sub_wrap_active_L3{
    display: none;
  }
}