/* FOR ATTENDANCE WINDOW */
.windowAttendance_main_wrap{
    display: var(--windowAttendance-display);
}

.windowAttendance_L1_main_wrap{
    display: var(--windowAttendance-L1-display);
}

.windowAttendance_L3_main_wrap{
    display: var(--windowAttendance-L3-display);
}
  
.attendance_window{
    margin: 0;
    padding: 0;
    width: var(--windowAttendance-width);
    height: var(--windowAttendance-height);
    border: 2px solid black;
    border-radius: var(--windowAttendance-border-radius);
    box-shadow: 5px 5px 10px rgba(0 , 0, 0, 0.25);
    background: white;
    overflow: hidden;
    position: absolute;
    top: var(--windowAttendance-top);
    left: var(--windowAttendance-left);
    touch-action: none;
    transition: width 200ms ease-in-out, height 200ms ease-in-out, top 200ms ease-in-out, left 200ms ease-in-out;
}
  
.windowAttendance_draggable_area{
    background: none;
    /*opacity: 0.5;*/
    height: 25px;
    width: calc(var(--windowAttendance-width) - 80px);
    touch-action: none;
    position: absolute;
    /*top: var(--top);
    left: var(--left);*/
    top: var(--windowAttendance-top);
    left: var(--windowAttendance-left);
    /*display: var(--display-b);*/
    display: var(--windowAttendance-drag-display);
    cursor: move;
    z-index: 100;
}

.windowAttendance_topbar{
    margin: 0;
    background:#FFD056;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    padding: 3px 0 2px 20px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
  
.attendance_top_wrap{
    /* margin-top: 3vh;
    margin-bottom: 1.5vh; */
    margin: 2% 0 1% 0;
    width: 100%;
    height: 100px;
    /*background: pink;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: all 200ms ease-in-out;
}
  
.attendance_search_wrap{
    /* width: calc(var(--windowAttendance-search-width) + 2vw); */
    /* margin-top: 25px; */
    width: 50%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
}
.attendance_search_label{
    font-size: 1.3vh;
    color: #616161;
    margin-left: 20px;
    margin-top: 10px;
}
.attendance_search_suggestions{
    width: 4.5vw;
    height: 2.3vh;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 1.3vh;
    color: #616161;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.attendance_search{
    margin: 0 0 0 4%;
    /* width: var(--windowAttendance-search-width); */
    width: 85%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    border: 2px solid #B3B3B3;
    transition: all 200ms ease-in-out;
}
.attendance_search_input{
    padding: 7px;
    /* width: calc(var(--windowAttendance-search-width) - 5vw); */
    width: 95%;
    font-size: 2vh;
    border-radius: 0 100px 100px 0;
    border: none;
    transition: all 200ms ease-in-out;
}
.attendance_search_input:focus{
    outline: none;
}
.attendance_search_icon{
    width: calc(var(--windowAttendance-buttons-font) + 12px);
    /* width: 5%; */
    height: auto;
    margin-left: 10px;
    margin-top: 2px;
    filter: invert(69%) sepia(0%) saturate(0%) hue-rotate(155deg) brightness(102%) contrast(98%);
}


.attendance_cbandbutton_wrap{
    width: 50%;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}
.attendance_cb_wrap{
    width: var(--windowAttendance-buttons-width);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 17px;
    transition: all 200ms ease-in-out;
}
.attendance_cb_label{
    width: 100%;
    /*font-size: calc(var(--windowAttendance-buttons-font) + 1px);*/
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 5px;
    white-space: nowrap;
    transition: all 200ms ease-in-out;
}
.attendance_cb{
    width: var(--windowAttendance-buttons-width);
    height: calc(var(--windowAttendance-buttons-height) - 5px);
    /*font-size: calc(var(--windowAttendance-buttons-font) + 2px);*/
    font-size: 12px;
    font-family: 'Segoe UI Variable';
    /* font-family: 'Poppins'; */
    background: white;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    transition: all 200ms ease-in-out;
}
.attendance_cb:focus{
    outline: none;
}
.attendance_grade_level_wrap{
    position: relative;
}
.attendance_strand_track_wrap{
    position: relative;
}
.attendance_cb_custom_arrow{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F3F3;
    border-radius: 0 3px 3px 0;
    height: 100%;
    width: 20px;
    pointer-events: none;
}
.attendance_cb_custom_arrow::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.attendance_record_attendance{
    width: var(--windowAttendance-buttons-width);
    height: var(--windowAttendance-buttons-height);
    padding: 0 var(--windowAttendance-buttons-font);
    margin-top: 18px;
    background: #F14668;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    /*font-size: var(--windowAttendance-buttons-font);*/
    font-size: 11px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 200ms ease-in-out;
}
.record_attendance_button{
    width: 25%;
    height: auto;
    filter: invert(100%) sepia(78%) saturate(0%) hue-rotate(169deg) brightness(115%) contrast(100%);
}
.attendance_download_attendance{
    width: var(--windowAttendance-buttons-width);
    height: var(--windowAttendance-buttons-height);
    /* margin-right: 20px;
    margin-top: 18px; */
    margin: 18px 2% 0 0;
    padding: 0 var(--windowAttendance-buttons-font);
    background: #17A1FA;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    /*font-size: var(--windowAttendance-buttons-font);*/
    font-size: 11px;
    text-align: left;
    justify-content: space-between;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 200ms ease-in-out;
}
.download_attendance_button{
    width: 25%;
    height: auto;
    filter: invert(100%) sepia(78%) saturate(0%) hue-rotate(169deg) brightness(115%) contrast(100%);
    transition: all 200ms ease-in-out;
}
.attendance_button_label{
    color: white;
}
  
.windowAttendance_table_wrap{
    width: 100%;
    height: calc(var(--windowAttendance-height) - 180px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}
.windowAttendance_table{
    /* width: calc(var(--windowAttendance-width) - 40px); */
    width: 98%;
    margin-left: 2%;
    border-collapse: collapse;
    transition: all 200ms ease-in-out;
}
.windowAttendance_table thead{
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
    z-index: 1;
}
.windowAttendance_table_header{
    text-align: left;
    height: calc(var(--windowAttendance-td-height) + 8px);
    color: white;
    transition: all 200ms ease-in-out;
}
.windowAttendance_table_header td{
    background: #03256C;
    font-size: 14px;
    font-weight: 600;
}
.windowAttendance_table_body td{
    height: var(--windowAttendance-td-height);
    font-size: 12px;
    transition: height 200ms ease-in-out;
}
  
  
.windowAttendance_notify{
    margin: 0;
    margin-right: 15px;
    padding: 0;
    width: 18px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.windowAttendance_notify img{
    width: 100%;
    height: auto;
    filter: invert(47%) sepia(53%) saturate(4869%) hue-rotate(322deg) brightness(96%) contrast(96%);
}
.windowAttendance_view{
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.windowAttendance_view img{
    width: 100%;
    height: auto;
    filter: invert(50%) sepia(47%) saturate(3682%) hue-rotate(181deg) brightness(104%) contrast(96%);
}

/* Window Attendance default content */
.windowAttendance_default_wrap{
    /* display: none; */
    /* display: var(--winAtt-Default-Display); */

    margin: 0;
    width: 100%;
    position: absolute;
    pointer-events: var(--winAtt-Default-PointerEvents);
    opacity: var(--winAtt-Default-Opacity);
    transform: translateX(var(--winAtt-Default-Transform));
    transition: all 300ms ease-in-out;
}

/* Window Attendance view student content */
.windowAttendance_view_wrap{
    /* display: block; */
    /* display: var(--winAtt-ViewStudent-Display); */

    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: var(--winAtt-ViewStudent-PointerEvents);
    opacity: var(--winAtt-ViewStudent-Opacity);
    transform: translateX(var(--winAtt-ViewStudent-Transform));
    transition: all 300ms ease-in-out;
}

.winAtt_viewStudent_wrap{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background: #F3F3F3;
}

.winAtt_viewStudent_back_button{
    font-size: 16px;
    font-weight: 600;
    margin: 2% 2% 0 2%;
    cursor: pointer;
}

.winAtt_viewStudent_top_wrap{
    width: 100%;
    height: 30%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.winAtt_viewStudent_profile_wrap{
    width: 70%;
    margin: 0;
    display: flex;
    padding: 2%;
}
.winAtt_viewStudent_profile_picture{
    width: 130px;
    height: 130px;
    background: #E2E1E5;
}
.winAtt_viewStudent_info_wrap{
    margin-left: 3%;
}
.winAtt_viewStudent_stud_name{
    font-size: 14px;
    font-weight: 600;
}
.winAtt_viewStudent_stud_id{
    font-size: 12px;
    font-weight: 600;
    opacity: 0.5;
}
.winAtt_viewStudent_stud_section{
    font-size: 12px;
    font-weight: 600;
    opacity: 0.5;
    margin-bottom: 10%;
}

.winAtt_viewStudent_sortCB_label{
    font-size: 12px;
    font-weight: 600;
}
.winAtt_viewStudent_sortCB_wrap{
    display: flex;
    justify-content: space-around;
}
.winAtt_viewStudent_sortCB_inside{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.winAtt_viewStudent_sortCB{
    width: 150px;
    height: 35px;
    border: none;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    border-radius: 2px;
    font-family: 'Segoe UI Variable';
}
.sortCB-long{
    width: 170px;
}

.winAtt_viewStudent_notifyButton_wrap{
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 2%;
    padding: 2%;
}
.winAtt_viewStudent_notifyButton{
    width: 100px;
    height: 35px;
    background: #F14668;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    cursor: pointer;
}
.winAtt_viewStudent_notifyIcon{
    width: 20%;
    height: auto;
    filter: invert(100%) sepia(50%) saturate(47%) hue-rotate(216deg) brightness(113%) contrast(101%);
}
.winAtt_viewStudent_refdelButton{
    width: 35px;
    height: 35px;
    background: #17A1FA;
    border: none;
    border-radius: 3px;box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    cursor: pointer;
}
.winAtt_viewStudent_refdelIcon{
    width: 100%;
    height: auto;
    filter: invert(100%) sepia(50%) saturate(47%) hue-rotate(216deg) brightness(113%) contrast(101%);
}

.winAtt_viewStudent_table_wrap{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}
.winAtt_viewStudent_table{
    width: 96%;
    border-collapse: collapse;
}
.winAtt_viewStudent_table thead{
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
    z-index: 1;
}
.winAtt_viewStudent_table_header{
    height: 40px;
    color: white;
}
.winAtt_viewStudent_table_header td:nth-child(1){
    width: 5%;
    padding: 0;
    text-align: center;
}
.winAtt_viewStudent_table_header td:nth-child(2){
    width: 15%;
    padding: 0;
}
.winAtt_viewStudent_table_header td:nth-child(3){
    width: 10%;
    padding: 0;
    text-align: center;
    border-left: 2px solid white;
}
.winAtt_viewStudent_table_header td:nth-child(4){
    width: 30%;
    border-left: 2px solid white;
}
.winAtt_viewStudent_table_header td:nth-child(5){
    width: 5%;
}
.winAtt_viewStudent_table_header td:nth-child(6){
    width: 30%;
    border-left: 2px solid white;
}
.winAtt_viewStudent_table_header td:nth-child(7){
    width: 5%;
}

.winAtt_viewStudent_table_body td:nth-child(1){
    width: 5%;
    text-align: center;
}
.winAtt_viewStudent_table_body td:nth-child(2){
    width: 15%;
}
.winAtt_viewStudent_table_body td:nth-child(3){
    width: 10%;
    border-left: 2px solid #73777B;
    text-align: center;
}
.winAtt_viewStudent_table_body td:nth-child(4){
    width: 30%;
    border-left: 2px solid #73777B;
    padding-left: 2%;
}
.winAtt_viewStudent_table_body td:nth-child(5){
    width: 5%;
}
.winAtt_viewStudent_table_body td:nth-child(6){
    width: 30%;
    border-left: 2px solid #73777B;
    padding-left: 2%;
}
.winAtt_viewStudent_table_body td:nth-child(7){
    width: 5%;
}


.winAtt_viewStudent_table_header-b{
    height: 40px;
    color: white;
}
.winAtt_viewStudent_table_header-b td{
    background: #03256C;
    border-left: 2px solid white;
    font-size: 14px;
    font-weight: 600;
    padding-left: 2%;
    z-index: 1;
}
.winAtt_viewStudent_table_body-b{
    border-collapse: collapse;
}
.winAtt_viewStudent_table_body-b td{
    border-left: 2px solid #73777B;
    padding-left: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.winAtt_viewStudent_table_header-b td:nth-child(1){
    border-left: none;
}
.winAtt_viewStudent_table_body-b td:nth-child(1){
    border-left: none;
}
.winAtt_viewStudent_table_header td{
    background: #03256C;
    font-size: 14px;
    font-weight: 600;
    padding-left: 2%;
}

.editButton{
    width: 50%;
    opacity: 0.7;
    cursor: pointer;
}

.editReason_modal_wrap{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    pointer-events: var(--editAttendance-Modals-PointerEvents);
    opacity: var(--editAttendance-Modals-Opacity);
    transition: all 200ms ease-in-out;
}
.editIntervention_modal_wrap{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    pointer-events: var(--editAttendanceInt-Modals-PointerEvents);
    opacity: var(--editAttendanceInt-Modals-Opacity);
    transition: all 200ms ease-in-out;
}
.multiEditReasons_modal_wrap{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    pointer-events: var(--MultiEditAttendanceRes-Modals-PointerEvents);
    opacity: var(--MultiEditAttendanceRes-Modals-Opacity);
    transition: all 200ms ease-in-out;
}
.confirmDelete_modal_wrap{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    pointer-events: var(--ConfirmDelete-Modal-PointerEvents);
    opacity: var(--ConfirmDelete-Modal-Opacity);
    transition: all 200ms ease-in-out;
}

.editAtt_Modal_Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    text-align: center;
    gap: 2%;
}
.MultiEditAtt_Modal_Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70%;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    text-align: center;
    gap: 2%;
}

.editAtt_input{
    width: 80%;
    height: 50px;
    margin: 0 5% 0 5%;
    border: 2px solid #B3B3B3;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}
.editAtt_cancel_button{
    width: 20%;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    background: #F14668;
    color: white;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.editAtt_update_button{
    width: 20%;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    background: #17A1FA;
    color: white;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editAtt_Modal_label{
    font-size: 20px;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: -5%;
    width: 100%;
}

.winAtt_viewStudent_bottom_wrap{
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    gap: 2%;
}
.winAtt_viewStudent_bottom_warning{
    font-size: 12px;
    font-weight: 600;
    opacity: var(--viewStudent_multiEdit_warning-opacity);
    transition: all 200ms ease-in-out;
}
.winAtt_viewStudent_edit_multiRecord{
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background: #17A1FA;
    color: white;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: var(--viewStudent_edit_multiRecord-opacity);
    pointer-events: var(--viewStudent_edit_multiRecord-pointer-events);
    transition: all 200ms ease-in-out;
}
.winAtt_viewStudent_del_multiRecord{
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background: #F14668;
    color: white;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: var(--viewStudent_edit_multiRecord-opacity);
    pointer-events: var(--viewStudent_edit_multiRecord-pointer-events);
    transition: all 200ms ease-in-out;
}


@media only screen and (max-width: 1000px){
    .attendance_cb_label{
        font-size: 8px;
    }
    .attendance_cbandbutton_wrap{
        gap: 15px;
    }
    .attendance_record_attendance{
        display: flex;
        justify-content: center;
        font-size: 0px;
    }
    .record_attendance_button{
        width: 50%;
    }
    .attendance_download_attendance{
        display: flex;
        justify-content: center;
        font-size: 0px;
    }
    .download_attendance_button{
        width: 50%;
    }
    .attendance_search_suggestions{
        width: 55px;
        height: 15px;
        font-size: 8px;
    }
    
    /* VIEW STUDENT ATTENDANCE*/
    .editButton{
        width: 15px;
        height: auto;
    }
}

@media only screen and (max-width: 700px){
    .attendance_top_wrap{
        margin-bottom: 20px;
    }

    .attendance_search_wrap{
        width: calc(var(--windowAttendance-search-width) + 7vw);
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
    }
    .attendance_search{
        margin: 0 20px 0 10px;
        width: calc(var(--windowAttendance-search-width) + 5vw);
    }
    .attendance_search_input{
        padding: 5px;
        width: calc(var(--windowAttendance-search-width) - 3vw);
        font-size: 12px;
    }
    .attendance_search_icon{
        width: 18px;
    }
    .attendance_search_label{
        font-size: 8px;
        margin:8px 0 0 10px;
    }
    .attendance_search_suggestions{
        width: 40px;
        height: 15px;
        margin-left: 2px;
        margin-top: 8px;
        font-size: 6px;
    }

    .attendance_cbandbutton_wrap{
        gap: 15px;
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: repeat(2, 35px);
        margin-right: 3.5vw;
    }
    .attendance_record_attendance{
        width: 80px;
        height: 35px;
    }
    .attendance_download_attendance{
        width: 80px;
        height: 35px;
    }
    .attendance_cb{
        width: 80px;
        height: 35px;
    }
    .windowAttendance_table_header td{
        font-size: 10px;
    }
    .windowAttendance_table_body td{
        font-size: 10px;
    }
    .windowAttendance_table_header td:nth-child(2) {
        display: none;
    }
    .windowAttendance_table_body td:nth-child(2) {
        display: none;
    }
    .windowAttendance_notify{
        margin-right: 10px;
        width: 15px;
        height: 15px;
    }
    .windowAttendance_view{
        width: 15px;
        height: 15px;
    }

    /* VIEW STUDENT ATTENDANCE */

    .winAtt_viewStudent_back_button{
        font-size: 14px;
    }
    .winAtt_viewStudent_profile_picture{
        width: 100px;
        height: 100px;
    }
    .winAtt_viewStudent_stud_name{
        font-size: 11px;
    }
    .winAtt_viewStudent_stud_id{
        font-size: 10px;
    }
    .winAtt_viewStudent_stud_section{
        font-size: 10px;
    }
    
    .winAtt_viewStudent_sortCB_label{
        font-size: 10px;
    }
    .winAtt_viewStudent_sortCB{
        width: 120px;
        height: 25px;
        font-size: 10px;
    }
    .winAtt_viewStudent_notifyButton{
        width: 80px;
        height: 30px;
        font-size: 12px;
        padding: 4px;
    }
    .winAtt_viewStudent_notifyIcon{
        width: 20%;
        height: auto;
    }
    .winAtt_viewStudent_refdelButton{
        width: 30px;
        height: 30px;
    }
    .winAtt_viewStudent_table_header{
        height: 30px;
    }
    .winAtt_viewStudent_table_header td{
        font-size: 12px;
    }
    .winAtt_viewStudent_table_header td:nth-child(2){
        max-width: 80px;
    }
    .winAtt_viewStudent_table_header td:nth-child(4){
        max-width: 80px;
    }
    .winAtt_viewStudent_table_header td:nth-child(6){
        max-width: 80px;
    }
    .winAtt_viewStudent_table_body td{
        font-size: 10px;
    }
    .winAtt_viewStudent_table_body td:nth-child(2){
        max-width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .winAtt_viewStudent_table_body td:nth-child(4){
        max-width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .winAtt_viewStudent_table_body td:nth-child(6){
        max-width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .winAtt_viewStudent_edit_multiRecord{
        width: 80px;
        height: 30px;
        font-size: 12px;
    }
    .winAtt_viewStudent_del_multiRecord{
        width: 80px;
        height: 30px;
        font-size: 12px;
    }
    
    .editAtt_Modal_Container{
        width: 60%;
        height: 40%;
    }
    .MultiEditAtt_Modal_Container{
        width: 60%;
        height: 55%;
    }
    
    .editAtt_input{
        width: 80%;
        height: 30px;
        padding: 3px;
        font-size: 14px;
    }
    .editAtt_cancel_button{
        width: 80px;
        height: 30px;
        font-size: 12px;
    }
    .editAtt_update_button{
        width: 80px;
        height: 30px;
        font-size: 12px;
    }
    .editAtt_Modal_label{
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px){
    .attendance_top_wrap{
        justify-content: center;
        gap: 5px;
    }
    .attendance_search_wrap{
        width: 100%;
        margin-top: 5px;
    }
    .attendance_search{
        width: 100%;
        margin: 0 10px 0 10px;
    }
    .attendance_search_input{
        width: 100%;
    }
    .attendance_search_suggestions{
        width: 55px;
        height: 15px;
        font-size: 8px;
    }

    .attendance_cbandbutton_wrap{
        gap: 20px;
        grid-auto-flow: row;
        grid-template-columns: repeat(2, var(--windowAttendance-500-button-width));
        grid-template-rows: repeat(2, 6.5vh);
        justify-content: center;
        margin-right: 0;
    }

    .attendance_cb_wrap{
        width: var(--windowAttendance-500-button-width);
        height: 60%;
    }
    .attendance_cb{
        width: var(--windowAttendance-500-button-width);
        height: 6.5vh;
        font-size: 12px;
    }
    .attendance_cb_label{
        font-size: 11px;
    }
    .attendance_record_attendance_wrap{
        width: 45%;
    }
    .attendance_download_attendance_wrap{
        width: 45%;
    }
    .attendance_record_attendance{
        width: var(--windowAttendance-500-button-width);
        height: 6.5vh;
        font-size: 12px;
        justify-content: space-around;
    }
    .attendance_download_attendance{
        width: var(--windowAttendance-500-button-width);
        height: 6.5vh;
        font-size: 12px;
        justify-content: space-around;
    }
    .record_attendance_button{
        width: 7vw;
    }
    .download_attendance_button{
        width: 7vw;
    }
    .windowAttendance_table_wrap{
        margin-top: 15vh;
        height: calc(var(--windowAttendance-table-height) - 2vh);
    }
    .windowAttendance_notify{
        margin-right: 5px;
        width: 12px;
        height: 12px;
    }
    .windowAttendance_view{
        width: 12px;
        height: 12px;
    }

    /* VIEW STUDENT ATTENDANCE */
    .winAtt_viewStudent_notifyButton{
        width: 30px;
        height: 30px;
        font-size: 0;
    }
    .winAtt_viewStudent_notifyIcon{
        width: 80%;
        height: auto;
        padding: 0;
    }
    .winAtt_viewStudent_sortCB{
        width: 100px;
    }
}