/* FOR ATTENDANCE WINDOW */

.windowAttendance_main_wrap{
    display: var(--windowAttendance-display);
}
  
.attendance_window{
    margin: 0;
    padding: 0;
    width: var(--windowAttendance-width);
    height: var(--windowAttendance-height);
    border: 2px solid black;
    border-radius: var(--windowAttendance-border-radius);
    box-shadow: 5px 5px 10px rgba(0 , 0, 0, 0.25);
    background: white;
    overflow: hidden;
    position: absolute;
    top: var(--windowAttendance-top);
    left: var(--windowAttendance-left);
    touch-action: none;
    transition: width 200ms ease-in-out, height 200ms ease-in-out, top 200ms ease-in-out, left 200ms ease-in-out;
}
  
.windowAttendance_draggable_area{
    background: none;
    /*opacity: 0.5;*/
    height: 25px;
    width: calc(var(--windowAttendance-width) - 100px);
    touch-action: none;
    position: absolute;
    /*top: var(--top);
    left: var(--left);*/
    top: var(--windowAttendance-top);
    left: var(--windowAttendance-left);
    /*display: var(--display-b);*/
    display: var(--windowAttendance-drag-display);
    cursor: move;
    z-index: 2;
}
  
.windowAttendance_topbar{
    margin: 0;
    background:#FFD056;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    padding: 3px 0 2px 20px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
  
.attendance_top_wrap{
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    width: 100%;
    height: 100px;
    /*background: pink;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: all 200ms ease-in-out;
}
  
.attendance_search_wrap{
    width: calc(var(--windowAttendance-search-width) + 40px);
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}
.attendance_search_label{
    font-size: 1.3vh;
    color: #616161;
    margin-left: 20px;
    margin-top: 10px;
}
.attendance_search_suggestions{
    width: 4.5vw;
    height: 2.3vh;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 1.3vh;
    color: #616161;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.attendance_search{
    margin: 0 40px 0 20px;
    width: var(--windowAttendance-search-width);
    border-radius: 100px;
    display: flex;
    align-items: center;
    border: 2px solid #B3B3B3;
    transition: all 200ms ease-in-out;
}
.attendance_search_input{
    padding: 7px;
    width: calc(var(--windowAttendance-search-width) - 70px);
    font-size: 2vh;
    border-radius: 0 100px 100px 0;
    border: none;
    transition: all 200ms ease-in-out;
}
.attendance_search_input:focus{
    outline: none;
}
.attendance_search_icon{
    width: calc(var(--windowAttendance-buttons-font) + 12px);
    height: auto;
    margin-left: 10px;
    margin-top: 2px;
    filter: invert(69%) sepia(0%) saturate(0%) hue-rotate(155deg) brightness(102%) contrast(98%);
}
  
.attendance_cb_wrap{
    width: var(--windowAttendance-buttons-width);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 17px;
    transition: all 200ms ease-in-out;
}
.attendance_cb_label{
    width: 100%;
    font-size: calc(var(--windowAttendance-buttons-font) + 1px);
    font-weight: 700;
    margin-bottom: 5px;
    transition: all 200ms ease-in-out;
}
.attendance_cb{
    width: var(--windowAttendance-buttons-width);
    height: calc(var(--windowAttendance-buttons-height) - 5px);
    font-size: calc(var(--windowAttendance-buttons-font) + 2px);
    font-family: 'Segoe UI Variable';
    background: white;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    transition: all 200ms ease-in-out;
}
.attendance_cb:focus{
    outline: none;
}
.attendance_grade_level_wrap{
    position: relative;
}
.attendance_strand_track_wrap{
    position: relative;
}
.attendance_cb_custom_arrow{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F3F3;
    border-radius: 0 3px 3px 0;
    height: 100%;
    width: 20px;
    pointer-events: none;
}
.attendance_cb_custom_arrow::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}
  
.attendance_record_attendance{
    width: var(--windowAttendance-buttons-width);
    height: var(--windowAttendance-buttons-height);
    padding: 0 var(--windowAttendance-buttons-font);
    background: #F14668;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    font-size: var(--windowAttendance-buttons-font);
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 200ms ease-in-out;
}
.record_attendance_button{
    width: 25%;
    height: auto;
    filter: invert(100%) sepia(78%) saturate(0%) hue-rotate(169deg) brightness(115%) contrast(100%);
}
.attendance_download_attendance{
    width: var(--windowAttendance-buttons-width);
    height: var(--windowAttendance-buttons-height);
    margin-right: 20px;
    padding: 0 var(--windowAttendance-buttons-font);
    background: #17A1FA;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 4px 3px rgba(0 , 0, 0, 0.25);
    font-size: var(--windowAttendance-buttons-font);
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 200ms ease-in-out;
}
.download_attendance_button{
    width: 25%;
    height: auto;
    filter: invert(100%) sepia(78%) saturate(0%) hue-rotate(169deg) brightness(115%) contrast(100%);
    transition: all 200ms ease-in-out;
}
.attendance_button_label{
    color: white;
}
  
.windowAttendance_table_wrap{
    width: 100%;
    height: calc(var(--windowAttendance-height) - 180px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}
.windowAttendance_table{
    width: calc(var(--windowAttendance-width) - 40px);
    border-collapse: collapse;
    transition: all 200ms ease-in-out;
}
.windowAttendance_table thead{
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
    z-index: 1;
}
.windowAttendance_table_header{
    text-align: left;
    height: calc(var(--windowAttendance-td-height) + 8px);
    color: white;
    transition: all 200ms ease-in-out;
}
.windowAttendance_table_header td{
    background: #03256C;
    font-size: calc(var(--windowAttendance-buttons-font) + 0.2vh);
    font-weight: 600;
}
.windowAttendance_table_body td{
    height: var(--windowAttendance-td-height);
    font-size: calc(var(--windowAttendance-buttons-font) + 0.2vh);
    transition: height 200ms ease-in-out;
}
  
  
.windowAttendance_notify{
    margin: 0;
    margin-right: 15px;
    padding: 0;
    width: 18px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.windowAttendance_notify img{
    width: 100%;
    height: auto;
    filter: invert(47%) sepia(53%) saturate(4869%) hue-rotate(322deg) brightness(96%) contrast(96%);
}
.windowAttendance_view{
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.windowAttendance_view img{
    width: 100%;
    height: auto;
    filter: invert(50%) sepia(47%) saturate(3682%) hue-rotate(181deg) brightness(104%) contrast(96%);
}

@media only screen and (max-width: 500px){
    .attendance_top_wrap{
        justify-content: center;
        gap: 5px;
    }
    .attendance_search_wrap{
        width: 100%;
        margin-top: 5px;
    }
    .attendance_search{
        width: 100%;
        margin: 0 10px 0 10px;
    }
    .attendance_search_input{
        width: 100%;
    }
    .attendance_search_suggestions{
        width: 16vw;
        height: 2vh;
    }
    .attendance_cb_wrap{
        width: 45%;
        height: 60%;
    }
    .attendance_cb{
        width: 135px;
        height: 40px;
        font-size: 14px;
    }
    .attendance_cb_label{
        font-size: 11px;
    }
    .attendance_record_attendance_wrap{
        width: 45%;
    }
    .attendance_download_attendance_wrap{
        width: 45%;
    }
    .attendance_record_attendance{
        width: 135px;
        height: 40px;
        font-size: 10px;
    }
    .attendance_download_attendance{
        width: 135px;
        height: 40px;
        font-size: 10px;
    }
    .windowAttendance_table_wrap{
        margin-top: 120px;
        height: var(--windowAttendance-table-height);
    }
    .windowAttendance_table_header td{
        font-size: 10px;
    }
    .windowAttendance_table_body td{
        font-size: 10px;
    }
    .windowAttendance_notify{
        margin-right: 5px;
        width: 12px;
        height: 12px;
    }
    .windowAttendance_view{
        width: 12px;
        height: 12px;
    }
}